* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

input,
button {
  display: block;
  width: 45.75%;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.terminal {
  background-color: #111;
  border: none;
  color: white;
  display: block;
  margin: 0;
  padding: 5px;
  position: absolute;
  overflow-x: hidden;
  z-index: 1;
}

textarea#myHistory {
  height: 100%;
  right: 0;
  top: 0;
  width: 50%;
}