* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

input[type="text"],
input[type="color"],
button {
  display: block;
  width: 49%;
  padding: 5px;
}

input[type="color"] {
  padding: 0;
  border: none;
  margin-top: 2px;
  height: 2rem;
}

button:hover {
  cursor: pointer;
}

.terminal {
  background-color: rgba(17, 17, 17, 0.95);
  border: none;
  box-shadow: 0 0 3px black;
  color: white;
  display: block;
  margin: 0;
  padding: 5px;
  position: absolute;
  overflow-x: hidden;
  z-index: 1;
}

textarea#history {
  height: 100%;
  right: 0;
  top: 0;
  width: 50%;
  word-break: break-all;
}

.button-input > button {
  width: 35%;
  display: inline-block;
}

.button-input > input {
  padding: 5px;
  width: 13%;
}

.danger {
  color: red;
}

@media only screen and (max-width: 1000px) {

  input[type="text"],
  input[type="color"],
  button {
    width: 100%;
  }

  textarea#history {
    height: 15rem;
    top: 5px;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .button-input > button {
    width: 50%;
    display: inline-block;
  }
  
  .button-input > input {
    padding: 5px;
    width: 46%;
  }
}